.btn-tr {
    padding: 0rem 0.5rem;
    vertical-align: baseline;
}

.container.container-wide {
    max-width: 1430px;
}

.btn.text-wrap {
    white-space: normal;
}

@media (max-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}